<!DOCTYPE html>
<html>
<head>
   
<style>
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        background-color: black;
    }
    p{
        color:beige;
        font-size: 18px;
        text-align: center;
    }
    a{
        color:beige;
    }
</style>

</head>

<body>
    <a href="./home">Home page</a>


    
    <img src="{{url_for('static',filename='writtenCandle.gif')}}" alt="lit candle" class="center" height="50%" width="20%">
    
    


    <p>{{msg}}</p>
    
    

    

    

</body>