<!DOCTYPE html>
<html>
<head>
<style>
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    input{
        width: 80%;
    }
    .tall_height{
        height: 20%;
    }
</style>

</head>

<body>

    <a href="./home">Home page</a>

    <h1>
        Someone has already written a message to this latern! Sorry, you were too late!
    </h1>
   
    <img src="{{url_for('static', filename='sloth.jpg')}}" alt="Sloth" class="center" height="50%" width="50%">


    

    

</body>